<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <a class="nav-link" routerLink="dashboard">Home</a>
      <li class="nav-item">
        <a class="nav-link"  routerLink="settings">auth</a>
      </li>
   <li class="nav-item">
        <a class="nav-link"  routerLink="/auth/login" (click)="logout()">Logout</a>
      </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="/auth/register" >Register</a>
      </li>
    </ul>
  </div>
  <div class="btn btn-success" (click)="onClickEventEmiiter()">Click to send Event Emitter</div>
</nav>

