<h3>Use Pipe in Module shared Angular</h3>
<p class="" *ngIf="true">Captalize String: {{title | capitalize }}</p>
<p class="">Rounded number: {{number | round }}</p>
<p class="">Rounded number: {{number }}</p>
<div appHightLight [defaultColor]="'brown'" [higihtLightColor]="'yellow'">Hight Light directives binding from shared
  module
</div>
<div *appUnless="true">Directive structure binding from shared module</div>
<div class="btn btn-outline-danger" id="clickMe">Click me</div>
<!--font awesnome-->
<i class="fas fa-address-card"></i>
<i class="icon ion-md-heart"></i>
<i class="ion ion-md-airplane"></i>
<!--directive ngSwitch-->
<div [ngSwitch]="valueSwitch">
  <div *ngSwitchCase="50">value of switch is 50</div>
  <div *ngSwitchCase="100">value of switch is 100</div>
  <div *ngSwitchCase="150">value of switch is 150</div>
  <div *ngSwitchDefault>value of switch default</div>
</div>
