* {
  margin: 0;
  padding: 0;
}

.wrap-login {
  background: #b287dd !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center;
  .form-signin {
    width: 460px;
    margin: auto;
    background: #4f37e0;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
    .logo {
      color: white;
      /*font-weight: bold;*/
      .brands-name {
        font-size: 27px;
        line-height: 29px;
        margin-top: 20px !important;
        /*letter-spacing: 1px; */
        &:after {
          content: '';
          width: 190px;
          height: 1px;
          background: #fff;
          display: block;
          transform: translateX(-10px);
          margin: 5px 0;
        }
      }
      .sologan {
        font-size: 12px !important;
        color: white;
        word-spacing: 2px;
        margin-left: 10px;
        letter-spacing: 1px;
      }
    }
    input {
      color: #abafb3 !important;
      padding: 8px 8px 8px 15px;
      font-size: 15px;
      background: transparent !important;
      &::placeholder {
        color: #abafb3;
        font-size: 15px;
      }
    }
    button {
      font-size: 19px;
      background: #eceefd;
      color: #484b4d !important;
      font-weight: bold;
      padding: 6px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
}
